# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store


# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# FastAPI specific
__pycache__/
.pytest_cache/

# Temporary files
tmp/
temp/
dev_utils/

sql/
tests/archive/
dev_mds/archive/

ambitious_builder/


tool_table_populate_scripts/

logs/

sast_protection/

sast_submission/

sast_submission.zip
user-access-brands-endpoint-bundle.json

/debug
CLAUDE.md
