ENV=DEV
PORT=

ANTHROPIC_API_KEY=
OPENAI_API_KEY=
MISTRAL_API_KEY=
BRAVE_SEARCH_API_KEY=
XAI_API_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=
SUPABASE_DB_PASSWORD=



